/*--- Avanquest WebEasy Page Style ---*/


.cc09               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc10               { /* Common */
	font            : 36pt 'Bahnschrift';
	color           : #ffffff;
	}
.cc11               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc12               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
.cc13               { /* Common */
	font            : 12pt 'Bahnschrift';
	color           : #000000;
	}
.cc14               { /* Common */
	font            : italic 8pt 'Bahnschrift';
	color           : #000000;
	}
span#e32            { /* unit2020001016.jpg */
	background      : transparent url(unit2020001016.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 126.00pt;
	width           : 771.75pt;
	height          : 297.75pt;
	}
div#e31             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e30             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e29             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e28             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e27             { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e26             { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e25            { /* unit2020001021.jpg */
	background      : transparent url(unit2020001021.jpg) no-repeat top left;
	position        : absolute;
	left            : 618.00pt;
	top             :   3.00pt;
	width           : 161.25pt;
	height          :  25.50pt;
	}
img#e24             { /* unit2020001010.jpg */
	position        : absolute;
	left            : 643.50pt;
	top             :   4.50pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e23             { /* unit2020001009.jpg */
	position        : absolute;
	left            : 688.50pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e22             { /* unit2020001008.jpg */
	position        : absolute;
	left            : 666.00pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e21             { /* unit2020001007.jpg */
	position        : absolute;
	left            : 621.00pt;
	top             :   4.50pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e20             { /* unit2020001006.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   4.50pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e19             { /* unit2020001005.jpg */
	position        : absolute;
	left            : 756.75pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e18             { /* unit2020001004.jpg */
	position        : absolute;
	left            : 711.00pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
span#e17            { /* unit2020001022.jpg */
	background      : transparent url(unit2020001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 274.50pt;
	top             :   0.00pt;
	width           : 185.25pt;
	height          :  83.25pt;
	}
div#e16             { /* ABOUT UNIT  */
	position        : absolute;
	left            :  19.50pt;
	top             : 133.50pt;
	width           : 614.25pt;
	height          :  43.50pt;
	}
span#e15            { /* unit2020002003.jpg */
	background      : transparent url(unit2020002003.jpg) no-repeat top left;
	position        : absolute;
	left            : 645.75pt;
	top             : 135.00pt;
	width           : 116.25pt;
	height          :  60.00pt;
	}
span#e14            { /* unit2020002002.gif */
	background      : transparent url(unit2020002002.gif) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :1608.00pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
div#e13             { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.75pt;
	top             :1670.25pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
div#e12             { /* ABOUT */
	position        : absolute;
	left            : 139.50pt;
	top             :1615.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e11             { /* CONTENT */
	position        : absolute;
	left            : 219.75pt;
	top             :1615.50pt;
	width           :  48.75pt;
	height          :  15.00pt;
	}
div#e10             { /* TEAMS */
	position        : absolute;
	left            : 306.75pt;
	top             :1615.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e9              { /* HOME */
	position        : absolute;
	left            :  72.00pt;
	top             :1615.50pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e8              { /* PARTNERS */
	position        : absolute;
	left            : 392.25pt;
	top             :1615.50pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e7              { /* EVENTS */
	position        : absolute;
	left            : 505.50pt;
	top             :1615.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e6              { /* CONTACT */
	position        : absolute;
	left            : 614.25pt;
	top             :1615.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e5              { /* As we wish to rise the b... */
	position        : absolute;
	left            : 341.25pt;
	top             :1184.25pt;
	width           : 438.00pt;
	height          :  76.50pt;
	}
div#e4              { /* UNIT McPotato: James Man... */
	position        : absolute;
	left            : 391.50pt;
	top             :1433.25pt;
	width           : 390.75pt;
	height          :  49.50pt;
	}
img#e3              { /* unit2020002001.jpg */
	position        : absolute;
	left            :   3.00pt;
	top             : 173.25pt;
	width           : 774.75pt;
	height          :1428.75pt;
	}
div#e2              { /* Video Advert by UNIT TEA... */
	position        : absolute;
	left            : 340.50pt;
	top             : 745.50pt;
	width           : 255.75pt;
	height          :  15.75pt;
	}
div#e1              { /* CONTENT */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  15.00pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          :1875.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
