/*--- Avanquest WebEasy Page Style ---*/


.cc34               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc35               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc36               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
.cc37               { /* Common */
	font            : 45pt 'Bahnschrift';
	color           : #ffffff;
	}
span#e30            { /* unit2020007012.jpg */
	background      : transparent url(unit2020007012.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.00pt;
	top             : 126.00pt;
	width           : 771.00pt;
	height          : 315.75pt;
	}
div#e29             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e28             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e27             { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e26             { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e25             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e24             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
span#e23            { /* unit2020007011.gif */
	background      : transparent url(unit2020007011.gif) no-repeat top left;
	position        : absolute;
	left            :   4.50pt;
	top             : 454.50pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
div#e22             { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.00pt;
	top             : 516.75pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
div#e21             { /* ABOUT */
	position        : absolute;
	left            : 150.75pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e20             { /* HOME */
	position        : absolute;
	left            :  83.25pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e19             { /* CONTENT */
	position        : absolute;
	left            : 231.00pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  15.00pt;
	}
div#e18             { /* TEAMS */
	position        : absolute;
	left            : 318.00pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e17             { /* PARTNERS */
	position        : absolute;
	left            : 403.50pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e16             { /* EVENTS */
	position        : absolute;
	left            : 516.75pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e15             { /* CONTACT */
	position        : absolute;
	left            : 625.50pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e14            { /* unit2020001021.jpg */
	background      : transparent url(unit2020001021.jpg) no-repeat top left;
	position        : absolute;
	left            : 618.00pt;
	top             :   3.00pt;
	width           : 161.25pt;
	height          :  25.50pt;
	}
img#e13             { /* unit2020001010.jpg */
	position        : absolute;
	left            : 643.50pt;
	top             :   4.50pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e12             { /* unit2020001009.jpg */
	position        : absolute;
	left            : 688.50pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e11             { /* unit2020001008.jpg */
	position        : absolute;
	left            : 666.00pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e10             { /* unit2020001007.jpg */
	position        : absolute;
	left            : 621.00pt;
	top             :   4.50pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e9              { /* unit2020001006.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   4.50pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e8              { /* unit2020001005.jpg */
	position        : absolute;
	left            : 756.75pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e7              { /* unit2020001004.jpg */
	position        : absolute;
	left            : 711.00pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
span#e6             { /* unit2020001022.jpg */
	background      : transparent url(unit2020001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 274.50pt;
	top             :   0.00pt;
	width           : 185.25pt;
	height          :  83.25pt;
	}
div#e5              { /* CONTENT */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  15.00pt;
	}
div#e4              { /* CONTACT */
	position        : absolute;
	left            :  15.00pt;
	top             : 124.50pt;
	width           : 543.00pt;
	height          :  56.25pt;
	}
img#e3              { /* unit2020007003.jpg */
	position        : absolute;
	left            :  19.50pt;
	top             : 187.50pt;
	width           : 561.75pt;
	height          :  36.75pt;
	}
img#e2              { /* unit2020007002.jpg */
	position        : absolute;
	left            :  25.50pt;
	top             : 252.00pt;
	width           : 611.25pt;
	height          :  36.75pt;
	}
img#e1              { /* unit2020007001.jpg */
	position        : absolute;
	left            :  24.75pt;
	top             : 320.25pt;
	width           : 672.00pt;
	height          :  36.75pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          : 600.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
