/*--- Avanquest WebEasy Page Style ---*/


.cc27               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc28               { /* Common */
	font            : 36pt 'Bahnschrift';
	color           : #ffffff;
	}
.cc29               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc30               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
span#e22            { /* unit2020006004.jpg */
	background      : transparent url(unit2020006004.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 126.00pt;
	width           : 769.50pt;
	height          : 298.50pt;
	}
span#e21            { /* unit2020001021.jpg */
	background      : transparent url(unit2020001021.jpg) no-repeat top left;
	position        : absolute;
	left            : 281.25pt;
	top             :   9.75pt;
	width           : 176.25pt;
	height          :  64.50pt;
	}
div#e20             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e19             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e18             { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e17             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e16             { /* NEWS */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e15             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e14             { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e13             { /* EVENTS COMING SOON */
	position        : absolute;
	left            :  11.25pt;
	top             : 270.00pt;
	width           : 614.25pt;
	height          :  43.50pt;
	}
span#e12            { /* unit2020001013.jpg */
	background      : transparent url(unit2020001013.jpg) no-repeat top left;
	position        : absolute;
	left            : 682.50pt;
	top             :   6.75pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e11             { /* unit2020001012.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   3.75pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e10             { /* unit2020001011.jpg */
	position        : absolute;
	left            : 708.00pt;
	top             :   6.00pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
span#e9             { /* unit2020006001.gif */
	background      : transparent url(unit2020006001.gif) no-repeat top left;
	position        : absolute;
	left            :   4.50pt;
	top             : 454.50pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
div#e8              { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.00pt;
	top             : 516.75pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
div#e7              { /* ABOUT */
	position        : absolute;
	left            : 150.75pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e6              { /* HOME */
	position        : absolute;
	left            :  83.25pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e5              { /* NEWS */
	position        : absolute;
	left            : 231.00pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e4              { /* TEAMS */
	position        : absolute;
	left            : 318.00pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e3              { /* PARTNERS */
	position        : absolute;
	left            : 403.50pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e2              { /* EVENTS */
	position        : absolute;
	left            : 516.75pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e1              { /* CONTACT */
	position        : absolute;
	left            : 625.50pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          : 637.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
