/*--- Avanquest WebEasy Page Style ---*/


.cc38               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc39               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc40               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
.cc41               { /* Common */
	font            : 45pt 'Bahnschrift';
	color           : #ffffff;
	}
span#e23            { /* unit2020001017.jpg */
	background      : transparent url(unit2020001017.jpg) no-repeat top left;
	position        : absolute;
	left            : 281.25pt;
	top             :   9.75pt;
	width           : 176.25pt;
	height          :  64.50pt;
	}
div#e22             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e21             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e20             { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e19             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e18             { /* NEWS */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e17             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e16             { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e15            { /* unit2020006004.gif */
	background      : transparent url(unit2020006004.gif) no-repeat top left;
	position        : absolute;
	left            :   4.50pt;
	top             : 795.00pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
div#e14             { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.00pt;
	top             : 857.25pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
div#e13             { /* ABOUT */
	position        : absolute;
	left            : 150.75pt;
	top             : 807.00pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e12             { /* HOME */
	position        : absolute;
	left            :  83.25pt;
	top             : 807.00pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e11             { /* NEWS */
	position        : absolute;
	left            : 231.00pt;
	top             : 807.00pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e10             { /* TEAMS */
	position        : absolute;
	left            : 318.00pt;
	top             : 807.00pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e9              { /* PARTNERS */
	position        : absolute;
	left            : 403.50pt;
	top             : 807.00pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e8              { /* EVENTS */
	position        : absolute;
	left            : 516.75pt;
	top             : 807.00pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e7              { /* CONTACT */
	position        : absolute;
	left            : 625.50pt;
	top             : 807.00pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e6             { /* unit2020001010.jpg */
	background      : transparent url(unit2020001010.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 125.25pt;
	width           : 769.50pt;
	height          : 297.75pt;
	}
div#e5              { /* EVENTS & MORE */
	position        : absolute;
	left            :  15.00pt;
	top             : 351.75pt;
	width           : 543.00pt;
	height          :  56.25pt;
	}
span#e4             { /* unit2020006003.jpg */
	background      : transparent url(unit2020006003.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 429.00pt;
	width           : 769.50pt;
	height          : 350.25pt;
	}
span#e3             { /* unit2020001009.jpg */
	background      : transparent url(unit2020001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 682.50pt;
	top             :   6.75pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e2              { /* unit2020001008.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   3.75pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e1              { /* unit2020001007.jpg */
	position        : absolute;
	left            : 708.00pt;
	top             :   6.00pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          : 900.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
