/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc02               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc03               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc04               { /* Common */
	border          :   0.00pt none #808080;
	}
.cc05               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc06               { /* Common */
	font            : 12pt 'Bahnschrift';
	color           : #000000;
	}
.cc07               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
.cc08               { /* Common */
	font            : 12pt 'Bahnschrift';
	color           : #ffffff;
	}
span#e35            { /* unit2020001017.jpg */
	background      : transparent url(unit2020001017.jpg) no-repeat top left;
	position        : absolute;
	left            : 281.25pt;
	top             :   9.75pt;
	width           : 176.25pt;
	height          :  64.50pt;
	}
div#e34             { /* ...Header roller */
	position        : absolute;
	left            :   3.75pt;
	top             : 126.00pt;
	width           : 653.25pt;
	height          :  17.25pt;
	}
span#e33            { /* unit2020001016.gif */
	background      : transparent url(unit2020001016.gif) no-repeat top left;
	position        : absolute;
	left            :   2.25pt;
	top             : 435.00pt;
	width           : 777.75pt;
	height          :  31.50pt;
	}
div#e32             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e31             { /* NEWS */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e30             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
span#e29            { /* unit2020001015.gif */
	background      : transparent url(unit2020001015.gif) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 759.00pt;
	width           : 770.25pt;
	height          : 299.25pt;
	}
span#e28            { /* unit2020001014.gif */
	background      : transparent url(unit2020001014.gif) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :1412.25pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
span#e27            { /* unit2020001013.jpg */
	background      : transparent url(unit2020001013.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 447.00pt;
	width           : 771.75pt;
	height          : 299.25pt;
	}
span#e26            { /* unit2020001012.jpg */
	background      : transparent url(unit2020001012.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 759.75pt;
	width           : 771.75pt;
	height          : 297.75pt;
	}
div#e25             { /* 2020 saw a massive spike... */
	position        : absolute;
	left            :  24.75pt;
	top             : 647.25pt;
	width           : 519.75pt;
	height          : 100.50pt;
	}
div#e24             { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.75pt;
	top             :1474.50pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
span#e23            { /* unit2020001011.jpg */
	background      : transparent url(unit2020001011.jpg) no-repeat top left;
	position        : absolute;
	left            : 679.50pt;
	top             : 453.75pt;
	width           :  84.00pt;
	height          :  82.50pt;
	}
span#e22            { /* unit2020001010.jpg */
	background      : transparent url(unit2020001010.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             :1069.50pt;
	width           : 769.50pt;
	height          : 297.75pt;
	}
div#e21             { /* UNIT is a developing org... */
	position        : absolute;
	left            :  24.75pt;
	top             :1268.25pt;
	width           : 541.50pt;
	height          : 105.00pt;
	}
div#e20             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e19             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e18             { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e17             { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e16            { /* unit2020001009.jpg */
	background      : transparent url(unit2020001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 682.50pt;
	top             :   6.75pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e15             { /* unit2020001008.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   3.75pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e14             { /* unit2020001007.jpg */
	position        : absolute;
	left            : 708.00pt;
	top             :   6.00pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
div#e13             { /* ABOUT */
	position        : absolute;
	left            : 139.50pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e12             { /* NEWS */
	position        : absolute;
	left            : 219.75pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e11             { /* TEAMS */
	position        : absolute;
	left            : 306.75pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e10             { /* HOME */
	position        : absolute;
	left            :  72.00pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e9              { /* PARTNERS */
	position        : absolute;
	left            : 392.25pt;
	top             :1419.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e8              { /* EVENTS */
	position        : absolute;
	left            : 505.50pt;
	top             :1419.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e7              { /* CONTACT */
	position        : absolute;
	left            : 614.25pt;
	top             :1419.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e6             { /* unit2020001006.jpg */
	background      : transparent url(unit2020001006.jpg) no-repeat top left;
	position        : absolute;
	left            : 690.00pt;
	top             :1412.25pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e5              { /* unit2020001005.jpg */
	position        : absolute;
	left            : 741.75pt;
	top             :1409.25pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e4              { /* unit2020001004.jpg */
	position        : absolute;
	left            : 715.50pt;
	top             :1411.50pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
img#e3              { /* unit2020001003.jpg */
	position        : absolute;
	left            :   8.25pt;
	top             : 454.50pt;
	width           : 762.00pt;
	height          : 287.25pt;
	}
img#e2              { /* unit2020001002.jpg */
	position        : absolute;
	left            :   6.75pt;
	top             : 764.25pt;
	width           : 762.00pt;
	height          : 287.25pt;
	}
img#e1              { /* unit2020001001.jpg */
	position        : absolute;
	left            :   6.75pt;
	top             :1072.50pt;
	width           : 762.00pt;
	height          : 287.25pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          :1500.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
