/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc02               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc03               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc04               { /* Common */
	border          :   0.00pt none #808080;
	}
.cc05               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc06               { /* Common */
	font            : 36pt 'Bahnschrift';
	color           : #000000;
	}
.cc07               { /* Common */
	font            : 12pt 'Bahnschrift';
	color           : #000000;
	}
.cc08               { /* Common */
	font            : 36pt 'Bahnschrift';
	color           : #ffffff;
	}
.cc09               { /* Common */
	font            : 12pt 'Bahnschrift';
	color           : #ffffff;
	}
.cc10               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
.cc11               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	padding         :   1.50pt;
	}
span#e39            { /* unit2020001016.jpg */
	background      : transparent url(unit2020001016.jpg) no-repeat top left;
	position        : absolute;
	left            : 281.25pt;
	top             :   9.75pt;
	width           : 176.25pt;
	height          :  64.50pt;
	}
div#e38             { /* ...Header roller */
	position        : absolute;
	left            :   3.75pt;
	top             : 126.00pt;
	width           : 653.25pt;
	height          :  17.25pt;
	}
span#e37            { /* unit2020001015.gif */
	background      : transparent url(unit2020001015.gif) no-repeat top left;
	position        : absolute;
	left            :   2.25pt;
	top             : 435.00pt;
	width           : 777.75pt;
	height          :  31.50pt;
	}
div#e36             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e35             { /* NEWS */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e34             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
span#e33            { /* unit2020001014.gif */
	background      : transparent url(unit2020001014.gif) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 759.00pt;
	width           : 770.25pt;
	height          : 299.25pt;
	}
span#e32            { /* unit2020001013.gif */
	background      : transparent url(unit2020001013.gif) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :1412.25pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
span#e31            { /* unit2020001012.jpg */
	background      : transparent url(unit2020001012.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 447.00pt;
	width           : 771.75pt;
	height          : 299.25pt;
	}
div#e30             { /* 2020 TEAM RECRUITMENT */
	position        : absolute;
	left            :  10.50pt;
	top             : 603.75pt;
	width           : 615.00pt;
	height          :  43.50pt;
	}
span#e29            { /* unit2020001011.jpg */
	background      : transparent url(unit2020001011.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 759.75pt;
	width           : 771.75pt;
	height          : 297.75pt;
	}
div#e28             { /* 2020 saw a massive spike... */
	position        : absolute;
	left            :  10.50pt;
	top             : 647.25pt;
	width           : 519.75pt;
	height          : 100.50pt;
	}
div#e27             { /* ABOUT UNIT GAMING */
	position        : absolute;
	left            :  10.50pt;
	top             : 930.75pt;
	width           : 614.25pt;
	height          :  43.50pt;
	}
div#e26             { /* Visit our about page to ... */
	position        : absolute;
	left            :  10.50pt;
	top             : 983.25pt;
	width           : 519.75pt;
	height          :  42.00pt;
	}
div#e25             { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.75pt;
	top             :1474.50pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
span#e24            { /* unit2020001010.jpg */
	background      : transparent url(unit2020001010.jpg) no-repeat top left;
	position        : absolute;
	left            : 645.75pt;
	top             : 768.75pt;
	width           : 116.25pt;
	height          :  60.00pt;
	}
span#e23            { /* unit2020001009.jpg */
	background      : transparent url(unit2020001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 679.50pt;
	top             : 453.75pt;
	width           :  84.00pt;
	height          :  82.50pt;
	}
span#e22            { /* unit2020001008.jpg */
	background      : transparent url(unit2020001008.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             :1069.50pt;
	width           : 769.50pt;
	height          : 297.75pt;
	}
div#e21             { /* PARTNER WITH UNIT */
	position        : absolute;
	left            :  10.50pt;
	top             :1223.25pt;
	width           : 614.25pt;
	height          :  43.50pt;
	}
div#e20             { /* UNIT is a developing org... */
	position        : absolute;
	left            :  10.50pt;
	top             :1268.25pt;
	width           : 541.50pt;
	height          : 105.00pt;
	}
span#e19            { /* unit2020001007.jpg */
	background      : transparent url(unit2020001007.jpg) no-repeat top left;
	position        : absolute;
	left            : 669.75pt;
	top             :1079.25pt;
	width           :  92.25pt;
	height          : 102.00pt;
	}
div#e18             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e17             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e16             { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e15             { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e14            { /* unit2020001006.jpg */
	background      : transparent url(unit2020001006.jpg) no-repeat top left;
	position        : absolute;
	left            : 682.50pt;
	top             :   6.75pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e13             { /* unit2020001005.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   3.75pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e12             { /* unit2020001004.jpg */
	position        : absolute;
	left            : 708.00pt;
	top             :   6.00pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
div#e11             { /* ABOUT */
	position        : absolute;
	left            : 139.50pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e10             { /* NEWS */
	position        : absolute;
	left            : 219.75pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e9              { /* TEAMS */
	position        : absolute;
	left            : 306.75pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e8              { /* HOME */
	position        : absolute;
	left            :  72.00pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e7              { /* PARTNERS */
	position        : absolute;
	left            : 392.25pt;
	top             :1419.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e6              { /* EVENTS */
	position        : absolute;
	left            : 505.50pt;
	top             :1419.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e5              { /* CONTACT */
	position        : absolute;
	left            : 614.25pt;
	top             :1419.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e4             { /* unit2020001003.jpg */
	background      : transparent url(unit2020001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 690.00pt;
	top             :1412.25pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e3              { /* unit2020001002.jpg */
	position        : absolute;
	left            : 741.75pt;
	top             :1409.25pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e2              { /* unit2020001001.jpg */
	position        : absolute;
	left            : 715.50pt;
	top             :1411.50pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
input#e1            { /* Hidden as_sitesearch  */
	background-color: transparent;
	position        : absolute;
	left            : 693.00pt;
	top             :  88.50pt;
	width           :  65.25pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          :1500.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
