/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc02               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc03               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc04               { /* Common */
	border          :   0.00pt none #808080;
	}
.cc05               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc06               { /* Common */
	font            : 12pt 'Bahnschrift';
	color           : #000000;
	}
.cc07               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
.cc08               { /* Common */
	font            : 12pt 'Bahnschrift';
	color           : #ffffff;
	}
.cc09               { /* Common */
	font            : 18pt 'Bahnschrift';
	color           : #000000;
	}
.cc10               { /* Common */
	font            : 18pt 'Bahnschrift';
	color           : #ffffff;
	}
span#e42            { /* unit2020001021.jpg */
	background      : transparent url(unit2020001021.jpg) no-repeat top left;
	position        : absolute;
	left            : 281.25pt;
	top             :   9.75pt;
	width           : 176.25pt;
	height          :  64.50pt;
	}
div#e41             { /* ...Header roller */
	position        : absolute;
	left            :   3.75pt;
	top             : 126.00pt;
	width           : 653.25pt;
	height          :  17.25pt;
	}
span#e40            { /* unit2020001020.gif */
	background      : transparent url(unit2020001020.gif) no-repeat top left;
	position        : absolute;
	left            :   2.25pt;
	top             : 435.00pt;
	width           : 777.75pt;
	height          :  31.50pt;
	}
div#e39             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e38             { /* NEWS */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e37             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
span#e36            { /* unit2020001019.gif */
	background      : transparent url(unit2020001019.gif) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 759.00pt;
	width           : 770.25pt;
	height          : 299.25pt;
	}
span#e35            { /* unit2020001018.gif */
	background      : transparent url(unit2020001018.gif) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :1412.25pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
span#e34            { /* unit2020001017.jpg */
	background      : transparent url(unit2020001017.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 447.00pt;
	width           : 771.75pt;
	height          : 299.25pt;
	}
span#e33            { /* unit2020001016.jpg */
	background      : transparent url(unit2020001016.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 759.75pt;
	width           : 771.75pt;
	height          : 297.75pt;
	}
div#e32             { /* 2020 saw a massive spike... */
	position        : absolute;
	left            :  24.75pt;
	top             : 647.25pt;
	width           : 519.75pt;
	height          : 100.50pt;
	}
div#e31             { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.75pt;
	top             :1474.50pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
span#e30            { /* unit2020001015.jpg */
	background      : transparent url(unit2020001015.jpg) no-repeat top left;
	position        : absolute;
	left            : 679.50pt;
	top             : 453.75pt;
	width           :  84.00pt;
	height          :  82.50pt;
	}
span#e29            { /* unit2020001014.jpg */
	background      : transparent url(unit2020001014.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             :1069.50pt;
	width           : 769.50pt;
	height          : 297.75pt;
	}
div#e28             { /* UNIT is a developing org... */
	position        : absolute;
	left            :  24.75pt;
	top             :1268.25pt;
	width           : 541.50pt;
	height          : 105.00pt;
	}
div#e27             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e26             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e25             { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e24             { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e23            { /* unit2020001013.jpg */
	background      : transparent url(unit2020001013.jpg) no-repeat top left;
	position        : absolute;
	left            : 682.50pt;
	top             :   6.75pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e22             { /* unit2020001012.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   3.75pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e21             { /* unit2020001011.jpg */
	position        : absolute;
	left            : 708.00pt;
	top             :   6.00pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
div#e20             { /* ABOUT */
	position        : absolute;
	left            : 139.50pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e19             { /* NEWS */
	position        : absolute;
	left            : 219.75pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e18             { /* TEAMS */
	position        : absolute;
	left            : 306.75pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e17             { /* HOME */
	position        : absolute;
	left            :  72.00pt;
	top             :1419.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e16             { /* PARTNERS */
	position        : absolute;
	left            : 392.25pt;
	top             :1419.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e15             { /* EVENTS */
	position        : absolute;
	left            : 505.50pt;
	top             :1419.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e14             { /* CONTACT */
	position        : absolute;
	left            : 614.25pt;
	top             :1419.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e13            { /* unit2020001010.jpg */
	background      : transparent url(unit2020001010.jpg) no-repeat top left;
	position        : absolute;
	left            : 690.00pt;
	top             :1412.25pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e12             { /* unit2020001009.jpg */
	position        : absolute;
	left            : 741.75pt;
	top             :1409.25pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e11             { /* unit2020001008.jpg */
	position        : absolute;
	left            : 715.50pt;
	top             :1411.50pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
img#e10             { /* unit2020001007.jpg */
	position        : absolute;
	left            :   8.25pt;
	top             : 454.50pt;
	width           : 762.00pt;
	height          : 287.25pt;
	}
img#e9              { /* unit2020001006.jpg */
	position        : absolute;
	left            :   6.75pt;
	top             : 764.25pt;
	width           : 762.00pt;
	height          : 287.25pt;
	}
img#e8              { /* unit2020001005.jpg */
	position        : absolute;
	left            :   6.75pt;
	top             :1072.50pt;
	width           : 762.00pt;
	height          : 287.25pt;
	}
img#e7              { /* unit2020001004.jpg */
	position        : absolute;
	left            :  19.50pt;
	top             : 608.25pt;
	width           :  33.00pt;
	height          :  36.00pt;
	}
img#e6              { /* unit2020001003.jpg */
	position        : absolute;
	left            :  19.50pt;
	top             : 935.25pt;
	width           :  33.00pt;
	height          :  36.00pt;
	}
img#e5              { /* unit2020001002.jpg */
	position        : absolute;
	left            :  19.50pt;
	top             :1225.50pt;
	width           :  33.00pt;
	height          :  36.00pt;
	}
img#e4              { /* unit2020001001.jpg */
	position        : absolute;
	left            : 658.50pt;
	top             : 773.25pt;
	width           : 108.75pt;
	height          :  56.25pt;
	}
div#e3              { /* JOIN THE UNIT CLAN */
	position        : absolute;
	left            :  53.25pt;
	top             : 614.25pt;
	width           : 614.25pt;
	height          :  24.75pt;
	}
div#e2              { /* FIND OUT MORE ABOUT UNIT */
	position        : absolute;
	left            :  53.25pt;
	top             : 943.50pt;
	width           : 614.25pt;
	height          :  24.75pt;
	}
div#e1              { /* BE PART OF A DEVELOPING ... */
	position        : absolute;
	left            :  54.75pt;
	top             :1233.00pt;
	width           : 614.25pt;
	height          :  24.75pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          :1500.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
