/*--- Avanquest WebEasy Page Style ---*/


.cc15               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc16               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
.cc17               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc18               { /* Common */
	font            : 45pt 'Bahnschrift';
	color           : #ffffff;
	}
.cc19               { /* Common */
	font            : italic 8pt 'Bahnschrift';
	color           : #000000;
	}
span#e18            { /* unit2020001010.jpg */
	background      : transparent url(unit2020001010.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 125.25pt;
	width           : 769.50pt;
	height          : 297.75pt;
	}
span#e17            { /* unit2020001017.jpg */
	background      : transparent url(unit2020001017.jpg) no-repeat top left;
	position        : absolute;
	left            : 281.25pt;
	top             :   9.75pt;
	width           : 176.25pt;
	height          :  64.50pt;
	}
span#e16            { /* unit2020003005.gif */
	background      : transparent url(unit2020003005.gif) no-repeat top left;
	position        : absolute;
	left            :   4.50pt;
	top             :1329.75pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
div#e15             { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.00pt;
	top             :1392.00pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
div#e14             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e13             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e12             { /* NEWS */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e11             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e10             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e9              { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e8              { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e7             { /* unit2020001009.jpg */
	background      : transparent url(unit2020001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 682.50pt;
	top             :   6.75pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e6              { /* unit2020001008.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   3.75pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e5              { /* unit2020001007.jpg */
	position        : absolute;
	left            : 708.00pt;
	top             :   6.00pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
div#e4              { /* NEWS, UPDATES & MORE */
	position        : absolute;
	left            :  15.00pt;
	top             : 129.75pt;
	width           : 543.00pt;
	height          : 162.00pt;
	}
img#e3              { /* unit2020003002.jpg */
	position        : absolute;
	left            :   6.00pt;
	top             : 282.00pt;
	width           : 765.00pt;
	height          :1082.25pt;
	}
img#e2              { /* unit2020003001.jpg */
	position        : absolute;
	left            :   8.25pt;
	top             : 234.00pt;
	width           : 761.25pt;
	height          :1079.25pt;
	}
div#e1              { /* Video Created By UNIT MC... */
	position        : absolute;
	left            : 349.50pt;
	top             : 531.00pt;
	width           : 252.75pt;
	height          :  12.00pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          :1500.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
