/*--- Avanquest WebEasy Page Style ---*/


.cc29               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc30               { /* Common */
	font            : 12pt 'Bahnschrift';
	color           : #ffffff;
	}
.cc31               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc32               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
div#e29             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e28             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e27             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e26             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e25             { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e24             { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e23            { /* unit2020001014.jpg */
	background      : transparent url(unit2020001014.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 126.75pt;
	width           : 769.50pt;
	height          : 297.75pt;
	}
div#e22             { /* UNIT is a developing org... */
	position        : absolute;
	left            :  10.50pt;
	top             : 325.50pt;
	width           : 546.00pt;
	height          : 105.00pt;
	}
span#e21            { /* unit2020005010.jpg */
	background      : transparent url(unit2020005010.jpg) no-repeat top left;
	position        : absolute;
	left            : 669.75pt;
	top             : 136.50pt;
	width           :  92.25pt;
	height          : 102.00pt;
	}
span#e20            { /* unit2020005009.gif */
	background      : transparent url(unit2020005009.gif) no-repeat top left;
	position        : absolute;
	left            :   4.50pt;
	top             : 454.50pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
div#e19             { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.00pt;
	top             : 516.75pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
div#e18             { /* ABOUT */
	position        : absolute;
	left            : 150.75pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e17             { /* HOME */
	position        : absolute;
	left            :  83.25pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e16             { /* CONTENT */
	position        : absolute;
	left            : 231.00pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  15.00pt;
	}
div#e15             { /* TEAMS */
	position        : absolute;
	left            : 318.00pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e14             { /* PARTNERS */
	position        : absolute;
	left            : 403.50pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e13             { /* EVENTS */
	position        : absolute;
	left            : 516.75pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e12             { /* CONTACT */
	position        : absolute;
	left            : 625.50pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
img#e11             { /* unit2020005008.jpg */
	position        : absolute;
	left            :   6.75pt;
	top             : 220.50pt;
	width           : 762.00pt;
	height          : 202.50pt;
	}
span#e10            { /* unit2020001021.jpg */
	background      : transparent url(unit2020001021.jpg) no-repeat top left;
	position        : absolute;
	left            : 618.00pt;
	top             :   3.00pt;
	width           : 161.25pt;
	height          :  25.50pt;
	}
img#e9              { /* unit2020001010.jpg */
	position        : absolute;
	left            : 643.50pt;
	top             :   4.50pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e8              { /* unit2020001009.jpg */
	position        : absolute;
	left            : 688.50pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e7              { /* unit2020001008.jpg */
	position        : absolute;
	left            : 666.00pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e6              { /* unit2020001007.jpg */
	position        : absolute;
	left            : 621.00pt;
	top             :   4.50pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e5              { /* unit2020001006.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   4.50pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e4              { /* unit2020001005.jpg */
	position        : absolute;
	left            : 756.75pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
img#e3              { /* unit2020001004.jpg */
	position        : absolute;
	left            : 711.00pt;
	top             :   5.25pt;
	width           :  20.25pt;
	height          :  22.50pt;
	}
span#e2             { /* unit2020001022.jpg */
	background      : transparent url(unit2020001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 274.50pt;
	top             :   0.00pt;
	width           : 185.25pt;
	height          :  83.25pt;
	}
div#e1              { /* CONTENT */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  15.00pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          : 600.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
