/*--- Avanquest WebEasy Page Style ---*/


.cc23               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc24               { /* Common */
	font            : 12pt 'Bahnschrift';
	color           : #ffffff;
	}
.cc25               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc26               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
span#e24            { /* unit2020001021.jpg */
	background      : transparent url(unit2020001021.jpg) no-repeat top left;
	position        : absolute;
	left            : 281.25pt;
	top             :   9.75pt;
	width           : 176.25pt;
	height          :  64.50pt;
	}
div#e23             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e22             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e21             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e20             { /* NEWS */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e19             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e18             { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e17             { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e16            { /* unit2020001014.jpg */
	background      : transparent url(unit2020001014.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 126.75pt;
	width           : 769.50pt;
	height          : 297.75pt;
	}
div#e15             { /* UNIT is a developing org... */
	position        : absolute;
	left            :  10.50pt;
	top             : 325.50pt;
	width           : 546.00pt;
	height          : 105.00pt;
	}
span#e14            { /* unit2020005005.jpg */
	background      : transparent url(unit2020005005.jpg) no-repeat top left;
	position        : absolute;
	left            : 669.75pt;
	top             : 136.50pt;
	width           :  92.25pt;
	height          : 102.00pt;
	}
span#e13            { /* unit2020001013.jpg */
	background      : transparent url(unit2020001013.jpg) no-repeat top left;
	position        : absolute;
	left            : 682.50pt;
	top             :   6.75pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e12             { /* unit2020001012.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   3.75pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e11             { /* unit2020001011.jpg */
	position        : absolute;
	left            : 708.00pt;
	top             :   6.00pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
span#e10            { /* unit2020005002.gif */
	background      : transparent url(unit2020005002.gif) no-repeat top left;
	position        : absolute;
	left            :   4.50pt;
	top             : 454.50pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
div#e9              { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.00pt;
	top             : 516.75pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
div#e8              { /* ABOUT */
	position        : absolute;
	left            : 150.75pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e7              { /* HOME */
	position        : absolute;
	left            :  83.25pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e6              { /* NEWS */
	position        : absolute;
	left            : 231.00pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e5              { /* TEAMS */
	position        : absolute;
	left            : 318.00pt;
	top             : 466.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e4              { /* PARTNERS */
	position        : absolute;
	left            : 403.50pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e3              { /* EVENTS */
	position        : absolute;
	left            : 516.75pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e2              { /* CONTACT */
	position        : absolute;
	left            : 625.50pt;
	top             : 466.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
img#e1              { /* unit2020005001.jpg */
	position        : absolute;
	left            :   6.75pt;
	top             : 220.50pt;
	width           : 762.00pt;
	height          : 202.50pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          : 637.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
