/*--- Avanquest WebEasy Page Style ---*/


.cc25               { /* Common */
	border          :   0.00pt none #808080;
	clip            : rect(0.00pt,771.00pt,0.75pt,0.00pt);
	}
.cc26               { /* Common */
	font            : 8pt 'Bahnschrift';
	color           : #000000;
	text-align      : center;
	}
.cc27               { /* Common */
	font            : 10pt 'Bahnschrift';
	color           : #000000;
	}
.cc28               { /* Common */
	font            : 45pt 'Bahnschrift';
	color           : #ffffff;
	}
img#e29             { /* unit2020004010.jpg */
	position        : absolute;
	left            : 734.25pt;
	top             :   3.75pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
span#e28            { /* unit2020004009.gif */
	background      : transparent url(unit2020004009.gif) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :1956.00pt;
	width           : 771.00pt;
	height          :   0.75pt;
	}
div#e27             { /* C 2020 UNIT GAMING EST 2... */
	position        : absolute;
	left            :   9.75pt;
	top             :2018.25pt;
	width           : 767.25pt;
	height          :  21.75pt;
	}
div#e26             { /* ABOUT */
	position        : absolute;
	left            : 139.50pt;
	top             :1963.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e25             { /* NEWS */
	position        : absolute;
	left            : 219.75pt;
	top             :1963.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e24             { /* TEAMS */
	position        : absolute;
	left            : 306.75pt;
	top             :1963.50pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e23             { /* HOME */
	position        : absolute;
	left            :  72.00pt;
	top             :1963.50pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e22             { /* PARTNERS */
	position        : absolute;
	left            : 392.25pt;
	top             :1963.50pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e21             { /* EVENTS */
	position        : absolute;
	left            : 505.50pt;
	top             :1963.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e20             { /* CONTACT */
	position        : absolute;
	left            : 614.25pt;
	top             :1963.50pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
span#e19            { /* unit2020001009.jpg */
	background      : transparent url(unit2020001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 696.00pt;
	top             :1966.50pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e18             { /* unit2020001008.jpg */
	position        : absolute;
	left            : 747.75pt;
	top             :1963.50pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e17             { /* unit2020001007.jpg */
	position        : absolute;
	left            : 721.50pt;
	top             :1965.75pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
span#e16            { /* unit2020001010.jpg */
	background      : transparent url(unit2020001010.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.75pt;
	top             : 125.25pt;
	width           : 769.50pt;
	height          : 297.75pt;
	}
span#e15            { /* unit2020001017.jpg */
	background      : transparent url(unit2020001017.jpg) no-repeat top left;
	position        : absolute;
	left            : 281.25pt;
	top             :   9.75pt;
	width           : 176.25pt;
	height          :  64.50pt;
	}
div#e14             { /* ABOUT */
	position        : absolute;
	left            : 150.00pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e13             { /* HOME */
	position        : absolute;
	left            :  82.50pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  14.25pt;
	}
div#e12             { /* NEWS */
	position        : absolute;
	left            : 230.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e11             { /* TEAMS */
	position        : absolute;
	left            : 317.25pt;
	top             :  96.75pt;
	width           :  48.75pt;
	height          :  17.25pt;
	}
div#e10             { /* PARTNERS */
	position        : absolute;
	left            : 402.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  18.75pt;
	}
div#e9              { /* EVENTS */
	position        : absolute;
	left            : 516.00pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
div#e8              { /* CONTACT */
	position        : absolute;
	left            : 624.75pt;
	top             :  96.75pt;
	width           :  69.75pt;
	height          :  17.25pt;
	}
img#e7              { /* unit2020004006.jpg */
	position        : absolute;
	left            : 682.50pt;
	top             :   6.75pt;
	width           :  81.00pt;
	height          :  38.25pt;
	}
img#e6              { /* unit2020004005.jpg */
	position        : absolute;
	left            : 741.75pt;
	top             :  11.25pt;
	width           :  27.00pt;
	height          :  39.00pt;
	}
img#e5              { /* unit2020001007.jpg */
	position        : absolute;
	left            : 708.00pt;
	top             :   6.00pt;
	width           :  24.00pt;
	height          :  39.00pt;
	}
div#e4              { /* PUBG TEAM  */
	position        : absolute;
	left            :  15.00pt;
	top             : 129.75pt;
	width           : 543.00pt;
	height          :  56.25pt;
	}
span#e3             { /* unit2020004003.jpg */
	background      : transparent url(unit2020004003.jpg) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             : 561.00pt;
	width           : 778.50pt;
	height          :1323.00pt;
	}
span#e2             { /* unit2020004002.jpg */
	background      : transparent url(unit2020004002.jpg) no-repeat top left;
	position        : absolute;
	left            :  10.50pt;
	top             : 428.25pt;
	width           :  76.50pt;
	height          :  66.75pt;
	}
img#e1              { /* unit2020004001.jpg */
	position        : absolute;
	left            :  13.50pt;
	top             : 237.75pt;
	width           : 754.50pt;
	height          :1692.75pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 783.75pt;
	height          :2250.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
